 <div class="panel">
    <div class="panel-heading myPanel">
        <h2 class="panel-title center">our amaaaaaazing site</h2>
        <div class="btn-group" style="width:100%">
            <button class="btn btn-outline-primary" routerLink="NewSequence" routerLinkActive="active">פרויקט חדש</button>
            <button class="btn btn-outline-primary" routerLink="mySequences" routerLinkActive="active">פרויקטים שלי</button>
            <button class="btn btn-outline-primary" routerLink="sharedSequences" routerLinkActive="active">פרויקטים משותפים</button>
        </div>
    </div>
</div>
<router-outlet class="center"></router-outlet>