<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button style="float:left;padding:15px" (click)="closeSetting()">^</button>
            <br>
            <br>
        </div>
        <div class="col-md-3">
            <button style="float:left;padding:15px" (click)="deletePic()">מחק תמונה</button>
            <br>
            <br>
        </div>
        <div class="col-md-3">
            <button class="center" style="float:right;padding:15px" (click)="showPic()">הצג תמונה</button>
        </div>
        <div class="col-md-3">
            <button class="center" style="float:right;padding:15px" (click)="stopShowing()">הפסק הצגת תמונה</button>
        </div>
        <br>
        <br>
    </div>
</div>